.img-div-1 {
	display: inline-block;

	object-fit: cover;
	width: 100%;
	height: auto;
	border-radius: 4px;
}

/* responsive ==style */
.feature-main {
	display: flex;
	gap: 24px;
}

.feature-main-row1 {
	display: flex;
	flex-direction: column;
	gap: 24px;
}
#image-header {
	background-color: rgba(0, 0, 0, 0.438);
	position: relative;
	display: flex;
	justify-content: center;
	top: 50%;
}
#inversion:hover {
	opacity: 0.1;
	filter: invert(-100%);
}
