/* Googlefonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

html {
	/* smoothes the scroll of the page */
	scroll-behavior: smooth;
}
body {
	font-family: "Poppins", sans-serif;
	background-color: var(--color-bg);
	color: var(--color-white);
	/* word / line height length */
	line-height: 1.7;
}

:root {
	--color-bg: #202020;
	--color-bg-transparent: #323232cb;
	--color-light-gray: #dedede;
	--color-white: #ffffff;
	--color-gray: #9d9d9d;
	--color-dark-gray: #959595;

	--container-width-lg: 75%;
	--container-width-md: 86%;
	--container-width-sm: 90%;
	--transition: all 400ms ease;
}

/* removes the scroll bar of the website */
::-webkit-scrollbar {
	display: none;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: 0;
	outline: 0;
	list-style-type: none;
	list-style: none;
	text-decoration: none;
}

.container {
	width: var(--container-width-lg);

	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
}
.justify-content {
	flex-direction: column;
	justify-content: center;
	text-align: center;
}
a {
	color: var(--color-light-gray);
	transition: 0.3s ease-in-out;
	text-transform: uppercase;
}

a:hover {
	color: var(--color-white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
}

h1 {
	font-size: 2.5rem;
	letter-spacing: 0.015rem;
	line-height: 2.9rem;
}
section {
	margin-top: 4.6rem;
}
.section-header {
	text-align: center;
	width: 100%;

	height: auto;
	margin-bottom: 2.3rem;
	color: var(--color-light-gray);
}

.text-gray {
	color: var(--color-gray);
}

/* ============ GENERAL  STYLES  ============== */

.btn {
	/* max-content width -> btn fits exactly in its content size */
	width: max-content;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--color-white);
	padding: 1.25rem 0.75rem;
	border-radius: 0.4rem;
	cursor: pointer;
	border: 1px solid var(--color-primary);
	transition: var(--transition);
	gap: 0.3rem;
	margin-top: 1.9rem;
}

.btn:hover {
	background-color: var(--color-white);
	color: var(--color-bg);
	/* border transparent */
	border-color: transparent;
}
.btn:focus {
	background-color: black;
}

.btn-primary {
	background: var(--color-gray);
	color: var(--color-white);
}

/* each image size will not be zoomed. all part is covered */
img {
	display: inline;

	object-fit: cover;
}

/* responsive */
@media screen and (max-width: 1024px) {
	.container {
		/* for tablets */
		width: var(--container-width-md);
	}
	section {
		margin-top: 6rem;
	}
}

/* =============== MEDIA QUERIES (Small DEVICES) ================ */

@media screen and (max-width: 840px) {
	.container {
		/* for tablets */
		width: var(--container-width-sm);
	}
	/* Header section */
	#me {
		width: 100%;
		height: auto;
		border-radius: 100%;
	}
	.header section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.header {
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	#header {
		width: 150%;
	}
	.header-text {
		margin-top: 3rem;
		width: 130%;
	}

	section > h2 {
		margin-bottom: 2rem;
	}
	.btn-primary.btn {
		display: flex;
		justify-content: center;

		flex-wrap: wrap; /* Allow the content to wrap when needed */
		align-items: center;
		flex-direction: column;
	}
	#me {
		width: 100%;
		height: auto;
		border-radius: 100%;
	}

	/* Feature section  */
	.feature-main {
		flex-direction: column;
	}

	/* visual section */
	.visuals {
		width: 90%;
	}
	.feature-main-row1 {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
}
